# Data Engineering

In [77]:
#import dependencies for data engineering
import pandas as pd
import numpy as np
import os

In [4]:
#get filepath for the two csv files and read as df
file_meas=os.path.join('Resources','hawaii_measurements.csv')
file_stat=os.path.join('Resources','hawaii_stations.csv')
df_meas=pd.read_csv(file_meas)
df_stat=pd.read_csv(file_stat)

In [9]:
#inspect if any na in values
df_meas.isnull().values.any()

True

In [11]:
#dropna and save to csv
df_meas_clean=df_meas.dropna(axis=0).reset_index(drop=True)

In [18]:
df_meas_clean.to_csv('output/cleaned_hawaii_measurements',index=False)

In [10]:
#inspect if any na in values
df_stat.isnull().values.any()

False

# Database Engineering

In [65]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData,inspect, func
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [66]:
# Create an engine to a database file called `demographics.sqlite` in the output directory
engine = create_engine("sqlite:///output/hawaii.sqlite")
#connect to the engine
conn=engine.connect()

# Use `declarative_base` from SQLAlchemy to model the measurement and station table as an ORM class
Base = declarative_base()

In [67]:
#create class Measurement
class Measurement(Base):
    __tablename__='measurement'
    id=Column(Integer, primary_key=True)
    station=Column(Text)
    date=Column(Text)
    prcp=Column(Float)
    tobs=Column(Float)
    def __repr__(self):
        return f"id={self.id}, name={self.date}"
# create class Station
class Station(Base):
    __tablename__='station'
    id=Column(Integer, primary_key=True)
    name=Column(Text)
    station=Column(Text)
    latitude=Column(Float)
    longitude=Column(Float)
    elevation=Column(Float)
    def __repr__(self):
        return f"id={self.id}, name={self.station}"
Base.metadata.create_all(engine)

In [68]:
# check if tables are created
inspect(engine).get_table_names()

['measurement', 'station']

In [69]:
# Load the cleaned csv file into a pandas dataframe
data_meas=pd.read_csv('output/cleaned_hawaii_measurements').to_dict(orient='records')
data_stat=df_stat.to_dict(orient='records')

In [74]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
#refer table_meas and table_stat as two objects in python
table_meas = sqlalchemy.Table('measurement', metadata, autoload=True)
table_stat=sqlalchemy.Table('station',metadata,autoload=True)
conn.execute(table_meas.insert(), data_meas)
conn.execute(table_stat.insert(),data_stat)

In [75]:
#check if data is inserted
conn.execute("select * from measurement limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-07', 0.06, 70.0)]

In [76]:
conn.execute("select * from station limit 5").fetchall()

[(1, 'WAIKIKI 717.2, HI US', 'USC00519397', 21.2716, -157.8168, 3.0),
 (2, 'KANEOHE 838.1, HI US', 'USC00513117', 21.4234, -157.8015, 14.6),
 (3, 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'USC00514830', 21.5213, -157.8374, 7.0),
 (4, 'PEARL CITY, HI US', 'USC00517948', 21.3934, -157.9751, 11.9),
 (5, 'UPPER WAHIAWA 874.3, HI US', 'USC00518838', 21.4992, -158.0111, 306.6)]